@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran:wght@100;200;300;400&family=Fjalla+One&display=swap');

body{ 
    width: 100%;
    height : 100vh; 
    overflow: hidden;
    position: relative;
}

.img-wrapper{ 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

}

.img-wrapper img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    animation: zoom 20s;

}

@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 10%; 
    left: 33%;

}

.bannerOne{
    position: absolute;
    top: 30%; 
    margin-top: 8px;
    left: 28%;
}

.menu {
    color: #000;
    font-size: 85px;
    font-family: "Bebas Neue";
    text-decoration: none;
    letter-spacing: .2rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);  
    animation: moveBanner 3s 0.5s forwards;
}

.links {
    color:beige;
    font-size: 30px;
    font-family: "Catamaran";
    text-decoration: none;
    display:block;
    letter-spacing: .1rem;
    padding: 8px;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);     
    animation: moveBanner 3s 0.5s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

